body{
    background-color: #7fffd4a6;
}

.container{
    text-align: center;
    margin-top: 60px;
}

table{
    margin: auto;
}

button{
    width: 60px;
    height: 45px;
    font-size: 18px;
    border: 2px solid #8c8787;
    border-radius: 10px;
    margin: 1px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
button:hover{
    background-color:rgba(195, 191, 191, 0.603);
}

input{
    width: 431px;
    margin-bottom: 36px;
    height: 36px;
    font-size: 18px;
    border: 1.5px solid rgb(53, 32, 241);
    border-radius: 10px;
}


.calculator{
    display: inline-block;
    /* margin: 30px; */
    border: 2px solid;
    padding: 30px;
    background: beige;
    border-radius: 6px;
    /* box-shadow:   10px 10px 10px rgb(214, 181, 14) , 10px 10px 10px rgb(214, 181, 14); */
    box-shadow: 0 6px 10px 0 rgb(8, 8, 8), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}

h1{
    font-family:cursive ;
    margin-bottom: 29px;
}
